footer {
  padding: 2rem;
  /* background-color: var(--overlay-background-color); */
  background-color: #00A74A;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
